<div class="max-w-xl mx-auto p-6 bg-white shadow-md rounded">
  <h2 class="text-2xl font-bold mb-4">Agregar Producto</h2>

  <form (ngSubmit)="guardarProducto()" #form="ngForm">
    <!-- Nombre -->
    <label class="block mb-2">Nombre:</label>
    <input #nameInput
      type="text"
      [(ngModel)]="nuevoProducto.name"
      name="name"
      required
      class="w-full border px-3 py-2 mb-1 rounded"
      #name="ngModel"
    />

    @if (name.invalid && form.submitted) {
      <div class="text-red-600 text-sm mb-3">
        El nombre es obligatorio.
      </div>
    }

    <!-- Descripción -->
    <label class="block mb-2">Descripción:</label>
    <textarea
      [(ngModel)]="nuevoProducto.description"
      name="description"
      class="w-full border px-3 py-2 mb-4 rounded"
    ></textarea>

    <!-- Precio -->
    <label class="block mb-2">Precio:</label>
    <input
      type="number"
      [(ngModel)]="nuevoProducto.price"
      name="price"
      required
      class="w-full border px-3 py-2 mb-1 rounded"
      #price="ngModel"
    />

    @if(price.invalid && form.submitted) {
      <div class="text-red-600 text-sm mb-3">
        El precio es obligatorio.
      </div>
    }

    <!-- Imagen -->
    <label class="block mb-2">URL de imagen:</label>
    <input
      type="text"
      [(ngModel)]="nuevoProducto.imageUrl"
      name="imageUrl"
      required
      class="w-full border px-3 py-2 mb-1 rounded"
      #imageUrl="ngModel"
    />

    @if (imageUrl.invalid && form.submitted) {
      <div class="text-red-600 text-sm mb-3">
        La URL de imagen es obligatoria.
      </div>
    }

    <!-- Categoría -->
    <label class="block mb-2">Categoría:</label>
    <select
      [(ngModel)]="nuevoProducto.categoryId"
      name="categoryId"
      required
      class="w-full border px-3 py-2 mb-1 rounded"
      #categoryId="ngModel"
    >
      <option value="" disabled selected>Selecciona una categoría</option>

      @for (cat of categorias; track cat.id) {
        <option [value]="cat.id">{{ cat.name }}</option>
      }
    </select>

    @if (categoryId.invalid && form.submitted) {
      <div class="text-red-600 text-sm mb-3">
        La categoría es obligatoria.
      </div>
    }

    <div class="bg-blue-100 mt-4">
      <h4 class="font-bold">Imágenes adicionales:</h4>

      @for (img of nuevoProducto.images; track $index) {
        <div class="flex items-center gap-2">
          <input
            class="w-96 border px-3 py-2 mb-1 ml-1 md:ml-2 rounded"
            type="text"
            [(ngModel)]="img.url"
            placeholder="URL de la imagen"
            name="imageUrl{{$index}}"
          />
          <button
            class="bg-red-500 text-white px-2 py-1 rounded"
            type="button"
            (click)="eliminarImagen($index)"
          >
            Eliminar
          </button>
        </div>
      }

      <button
        class="inline-block bg-yellow-600 hover:bg-yellow-700 text-white my-2 ml-1 md:ml-2 px-3 py-1 rounded transition"
        type="button"
        (click)="agregarImagen()"
      >
        Agregar imagen
      </button>
    </div>


    <div class="mt-4">
      <h4 class="font-bold">Características del producto:</h4>

      @for (f of nuevoProducto.features; track $index) {
        <div class="md:flex items-center gap-1 mb-2">
          <input
            class="w-80 border px-3 py-2 mb-1 rounded"
            type="text"
            [(ngModel)]="f.name"
            placeholder="Nombre"
            name="featureName{{$index}}"
          />
          <input
            class="w-80 border px-3 py-2 mb-1 rounded"
            type="text"
            [(ngModel)]="f.value"
            placeholder="Valor"
            name="featureValue{{$index}}"
          />
          <button
            class="bg-red-500 text-white px-2 py-1 rounded"
            type="button"
            (click)="eliminarCaracteristica($index)"
          >
            Eliminar
          </button>
        </div>
      }

      <button
        class="inline-block bg-yellow-600 hover:bg-yellow-700 text-white my-2 px-3 py-1 rounded transition"
        type="button"
        (click)="agregarCaracteristica()"
      >
        Agregar característica
      </button>
    </div>


    <!-- Botón -->
    <button
      type="submit"
      [disabled]="form.invalid"
      class="bg-blue-600 hover:bg-blue-700 text-white px-4 py-2 rounded disabled:opacity-50 disabled:cursor-not-allowed"
    >
      {{ modoEdicion ? 'Actualizar Producto' : 'Agregar' }}
    </button>

    <!-- Mensaje -->
    <p class="mt-4 text-sm text-green-700" *ngIf="mensaje">{{ mensaje }}</p>
  </form>
</div>
