<div class="max-w-4xl mx-auto p-8 grid md:grid-cols-2 gap-8 items-start">
  @if (producto) {
    <div>
      <!-- Imagen principal -->
      <img 
        [src]="imagenSeleccionada" 
        class="w-full h-auto object-contain bg-gray-100 p-4 rounded mb-4"
        (click)="abrirModal(0)" 
      />

      <!-- Otras imágenes -->
      @if (producto.images?.length) {
        <h4 class="text-lg font-semibold mb-2">Otras imágenes:</h4>
        <div class="flex gap-3 flex-wrap">
          @for (img of producto.images; let i = $index; track img.id) {
            <img
              [src]="img.url"
              alt="Imagen adicional"
              class="w-20 h-20 object-cover border rounded cursor-pointer hover:ring-2 hover:ring-blue-500"
              (click)="abrirModal(i + 1)"
            />
          }
        </div>
      }
    </div>

  @if (modalAbierto) {
    <div 
      class="fixed inset-0 bg-black bg-opacity-80 flex items-center justify-center z-50"
      (click)="cerrarModal()"
    >
    
    <!-- Imagen en grande -->
      <img 
        [src]="imagenSeleccionada" 
        alt="Vista ampliada" 
        class="max-w-[90%] max-h-[90%] object-contain rounded shadow-lg"
      />

      <!-- Botón cerrar -->
      <button 
        class="absolute top-5 right-5 text-white text-3xl font-bold hover:text-gray-300"
        (click)="cerrarModal()"
      >
        ✕
      </button>

      <!-- Flecha izquierda -->
      <button 
        class="absolute left-5 text-white text-4xl font-bold hover:text-gray-300"
        (click)="anteriorImagen(); $event.stopPropagation()"
      >
        ‹
      </button>

      <!-- Flecha derecha -->
      <button 
        class="absolute right-5 text-white text-4xl font-bold hover:text-gray-300"
        (click)="siguienteImagen(); $event.stopPropagation()"
      >
        ›
      </button>

    </div>
  }

    <div class="text-center md:text-left">
      <h2 class="text-3xl font-bold mb-4 uppercase">{{ producto.name }}</h2>
      <p class="text-gray-500 mb-6">{{ producto.description }}</p>
      <p class="text-blue-700 text-xl mb-4 font-bold">S/ {{ producto.price | number:'1.2-2' }}</p>

      <!-- Características -->
      @if (producto.features?.length) {
        <h4 class="text-lg font-semibold mb-2">Características:</h4>
        <ul class="mb-4 list-disc list-inside text-left">
          @for (f of producto.features; track f.id) {
            <li> <strong>{{ f.name }}:</strong> {{ f.value }} </li>
          }
        </ul>
      }

      <a
        class="inline-block bg-green-600 hover:bg-green-700 text-white px-6 py-3 rounded transition"
        [href]="generarEnlaceWhatsApp(producto.name)"
        target="_blank"
      >
        Comprar por WhatsApp
      </a>
    </div>
  }
</div>
